*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
/* nav side start */
.logo{
    display: flex;
    align-items: center;

}
.logo-img{
    padding: 0;
}
.logo-text{
    padding-left: 5px;
}
/* nav side end */

/* nav middle start */
.nav-page-btns-container{
   display: flex;
    align-items: center;
    margin-top: 40px 0px;
}
.nav-page-btns{
   padding: 10px; ;
     
}
.nav-page-btns:hover{
   background-color: #2664eb;
   color:white;
   padding: 10px;

   border-radius: 10px;
}

/* nav middle end */

/* nav left start */
.btn{
   background-color: #2664eb;
   color:white;
   font-size: 20px;
   font-weight: 400px;
   margin: 10px;
   padding: 10px 30px;    
   border-radius: 10px;
   border: 0px;
}
/* nav left end */

/* hero section start */
.hero-container{
    background-image:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.9)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
 

}.hero-text{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 700px;
    color: white;
    text-align: center;
}
.hero-text1{
    font-size: 85px;
    font-weight: 700;
    padding-bottom: 20px;

}

.hero-text2{

    font-size: 30px;
    font-weight: 400;
    width: 1000px;
}
.hero-btn{
   background-color: #2664eb;
   color:white;
   padding: 20px 40px;  
   border-radius: 10px;
   border: 0px;
   font-size: 40px;
   font-weight: 700;
   margin-top: 400px;
   
  
   
}
/* meet the speakers section start */
.meet-heading{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin:120px 0 80px ;
}

.meet-card-container{
    display: grid;
    grid-template-columns:repeat(2, 650px) ;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card{
  border: 1px;
  border-radius: 20px;
  border-color:  rgb(255, 254, 254);
  border-top-width: 0;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  
}
.card-img{
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px, 1px, 0px 0px #e1e1e9;
  overflow: hidden;
  width: 100%;

}
.card-text{
  padding: 10px 10px 10px 10px;
  margin-top: 0px;
  border: 1px solid #e4e8ee;
  border-top: 0;
  box-shadow: 0px 1px 3px #e0e0e6;
  overflow: hidden;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius: 20px;
  border-style: solid;
}
.field{
  font-size: 10px;
  font-weight: 600;
  color: #2664eb;
  padding: 5px 10px;
}
.name{
  font-size: 15px;
  font-weight: 600;
  color: #000207;
  padding: 5px 10px;
}
.position{
  font-size: 15px;
  font-weight: 600;
  color: #475569;
  padding: 5px 10px;
}
/* meet the speakers section end */
/* pricing section start */

.secure-section{
  margin-top: 50px;
}
.plan-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
 }  

 .plan-card-border{
  border: 1px solid #8772722b ;
  /* border-radius: 15px; */
  /* box-shadow: none 3px 3px 9px #e1e1e9, inset -2px -2px 5px #ffffff;
  padding: 20px;
  margin: 50px 20px;
  */
 }

.price-heading-texts{
  text-align: center;
  margin-top: 0px;

}
.price-head{
  padding-top: 80px;
  padding-bottom: 10px;
  margin: 0px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  color: #040404;
  letter-spacing: 0.02em;  
}
.price-subhead{
  text-align: center;
  font-size: 1rem;
  color: #878787;
  margin: 0 0px 10px 10px;
}
.price-subheading{
  color: #878787;
  font-size:small ;
  font-weight: 400;
  padding: 0 0px 5px 0px;
}

.price{
  font-size: 60px;
  font-weight: 700;
  color: #0d1b2a;
}
.price-diff{
  color: white;
  font-weight: 600;
  font-size: 60px;
  font-weight: 700;
}


.price-line{
  margin: 15px 0 15px 0;
}

li{
  font-size: 15px;
  font-weight: 400;
  color: #1a2e43;
  padding: 5px 0px;
  margin: 0 0 0 px;
}


ul, .plan, .price{
  padding-left: 10px 5px 10px 5px;
  text-align: left; ;
}

.plan{
  font-size: 15px;
  font-weight: 300;
  font-size: 20px;
  font-weight: 600;
  color: #878787;
}

.plan-2{
  color:#2664eb
}

li {
  list-style: none;
  position: relative;
  padding-left: 15px;
  
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3b82f6; 
}

.price-2{
  background-color: #0d1b2a;
  color: white;
}
.price-2 li {
  color: white; 
}

.price-1,.price-2,.price-3{ 
  border: 1px solid #575757 ;
  border-radius: 15px;
  /* box-shadow: none 3px 3px 9px #e1e1e9, inset -2px -2px 5px #ffffff; */
  padding: 20px;
  margin: 50px 20px;
  height: 400px;
  width: 300px;
  /* background-color: #2664eb; */
}

.price-white-button{
  background-color: white;
  color: #2664eb;
  font-weight: 600;
  border: 2px solid #2664eb;
}

.price-blue-button{
  background-color: #2664eb;
  color: white;
  font-weight: 600;
  border: 2px solid #2664eb;
}
.price-white-button, .price-blue-button{
  font-size: 15px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  border-radius: 10px;  
  border: 2px solid #2664eb;
}

/* pricing section end  */

/* FAQ(Something mising) section end  */


 /* FAQ(Something mising) section end  */

 /* Footer section start  */
  
 
 .footer-section{
  background-color: #2563eb;
  text-align: center;
  /* padding-bottom: 20px; */
  }


.divider-line{
 color: #c7ccd5;
 width: 50%;
 margin: 80px auto;
}


 .footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2563eb;
  color:white;
  margin-top: 40px;
 }

 .footer-logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
 .footer-logo{
  display: flex;
  align-items: center;
  color:white;
  height: 1rem;
  width: 1rem;
  margin-top: 40px;
  padding:40px;
  }

  #tag-line{
  color: #010000;
  font-weight: 600;
  margin:  15px 0px;
  }

 .f-logo{
  display: flex;
  justify-items: start;
  align-items: center;
  color:white;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
  
  
 }

 
 .footer-links{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
   color:white;
   margin: 20px 0;
  }

  .follow-us-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .follow-us{
    display:block;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    padding: 10;
  }

  .footer-socials{
   display: flex;
   align-items: center;
   gap: 10px;
   color:white;
   
  }

  .copyright-devider{
  color: white;
  margin: 10px auto;
  width: 50%;
  
  }
  .footer-copyright-text{
  background-color: #2563eb;
  color:white;
  font-size: 10px;
  padding: 10px;
 }

 /* Footer section end */