*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
/* nav side start */
.logo{
    display: flex;
    align-items: center;

}
.logo-img{
    padding: 0;
}
.logo-text{
    padding-left: 5px;
}
/* nav side end */

/* nav middle start */
.nav-page-btns-container{
   display: flex;
    align-items: center;
    margin-top: 40px 0px;
}
.nav-page-btns{
   padding: 10px; ;
     
}
.nav-page-btns:hover{
   background-color: #2664eb;
   color:white;
   padding: 10px;

   border-radius: 10px;
}

/* nav middle end */

/* nav left start */
.btn{
   background-color: #2664eb;
   color:white;
   font-weight: bold;
   margin: 10px;
   padding: 10px 30px;    
   border-radius: 10px;
   border: 0px;
}
/* nav left end */

/* hero section start */
.hero-container{
    background-image:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,7)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
   height: 100vh;
 

}.hero-text{
    display: flex;
    flex-direction: column;
    align-items:center ;
    
    height: 700px;
   
    color: white;
    text-align: center;
}
.hero-text1{
    
    font-size: 85px;
    font-weight: 700;
    padding-bottom: 20px;

}

.hero-text2{

    font-size: 30px;
    font-weight: 400;
    width: 1000px;
}
.hero-btn{
   background-color: #2664eb;
   color:white;
   margin: 10px;
   padding: 20px 60px;    
   border-radius: 10px;
   border: 0px;
   font-size: 20px;
   font-weight: 700;
   margin-top: 450px;
   
  
   
}
